.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #0f0f0fca;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 100;
}

.left-section{
    align-items: center;
    display: flex;
}

.hamburger-menu {
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.youtube-logo .play-shape {
  fill: #FF0000;
}

.youtube-logo .play-icon {
  fill: #FFFFFF;
}

.youtube-logo .logo-text {
  fill: #FFFFFF; 
}

.middle-section {
    flex: 1;
    margin-left: 100px;
    margin-right: 35px;
    max-width: 580px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 32px;
    padding-left: 12px;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    border: 1px solid hsl(0,0%,18.82%);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
    width: 0;
    background-color: #121212;
    z-index: 101;
}

.search-bar::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.search-button, 
.voice-search-button, 
.upload-icon-container, 
.apps-icon-container, 
.notification-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-button {
    height: 36px;
    width: 56px;
    background-color: hsla(0,0%,100%,.08);
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0,0%,18.82%);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -1px;
    margin-right: 10px;
}

.search-button .tooltip, 
.voice-search-button .tooltip, 
.upload-icon-container .tooltip, 
.apps-icon-container .tooltip, 
.notification-icon-container .tooltip {
    position: absolute;
    background-color: rgba(96, 96, 96, 1);
    color: white;
    padding: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    z-index: 999;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip, 
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 22px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: hsla(0,0%,100%,.08);
}

.voice-search-icon {
    height: 24px;
    margin-top: 4px;
}

.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.create-button {
    height: 34px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: hsla(0,0%,100%,.08);
    font-size: 13px;
    font-weight: 700;
    padding: 0px 5px;
    padding-right: 15px;
}

.create-button p {
    padding-top: 10px;
}

.create-icon {
    height: 36px;
    fill: white;
}

.notification-icon-container {
    position: relative;
    cursor: pointer;
}

.notification-count {
    font-size: 10px;
    padding: 1.5px 5px;
    position: absolute;
    top: -3px;
    right: -7px;
    background-color: rgb(204, 0, 0);
    color: white;
    border-radius: 80px;
    border: 2px;
    border-style: solid;
    border-color: white;
}

.notification-icon {
    height: 24px;
}

.my-channel {
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

:root {
    --grid-max-width: calc((620px * 3) + (8px * 2));
}

.topic-bar {
    top: 50px;
    background-color: #0f0f0fca;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    padding-left: calc((100% - var(--grid-max-width))/3);
    right: 0px;
    left: 240px;
    height: 50px;
    z-index: 100;
    padding-top: 10px;
}

.topic-button,
.topic-button-selected {
    position: relative;
    color: white;
    font-size: 13px;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px;
    margin: 7px;
    height: 13px;
}

.topic-button-selected {
    color: black;
    background-color: white;
}