.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    background-color: #0f0f0f;
    width: 207px;
    z-index: 101;
    color: #f1f1f1;
    padding-top: 12px;
    height: calc(100vh-50px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 #0f0f0f;
}

.sidebar-section {
    border-bottom: 1px solid #4d4d4d;
    padding: 0 12px 12px 12px;
    margin-bottom: 12px;
}
.sidebar-link,
.sidebar-link-selected,
.sidebar-link-you,
.sidebar-link-subscription,
.sidebar-link-subscription-title {
    height: 36px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 0px 12px;
}

.sidebar-link-selected {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 13px;
    font-weight: 500;
}

.sidebar-link:hover,
.sidebar-link-you:hover,
.sidebar-link-subscription:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-link-you img{
    height: 12px;
    margin-left: 6px;
}

.sidebar-link-you p {
    font-size: 15px;
    font-weight: 500;
}
.sidebar-link img,
.sidebar-link-selected img,
.sidebar-link-subscription img {
    height: 22px;
    margin-right: 18px; 
}

.sidebar-link div,
.sidebar-link-subscription div {
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar-link-subscription-title {
    height: 28px;
    cursor: default;
}

.sidebar-link-subscription-title p {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}

.sidebar-link-subscription img {
    border-radius: 11px;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #AAAAAA;
    font-weight: 500;
}

.sidebar-bottom-links-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px 14px 5px 14px;
    row-gap: 2px;
}

.sidebar-bottom-links {
    margin-right: 5px;
    cursor: pointer;
}

.sidebar-copyright p {
    padding: 5px 14px 5px 14px;
    color: #5d5d5d;
    font-weight: 400;
    font-size: 11px;
    cursor: default;
}