.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: calc((650px * 3) + (8px * 2));
    margin: 0 auto;
    column-gap: 8px;
    row-gap: 22px;
    padding: 10px 10px;
}

@media (max-width: 1250px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
    .video-preview {
        min-width: 100px;
    }
}

@media (max-width: 900px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
    .video-preview {
        min-width: 100px;
    }
}

.video-preview {
    padding: 4px;
    vertical-align: top;
    max-width: 650px;
    min-width: 320px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.thumbnail {
    width: 100%;
    border-radius: 10px
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(22, 22, 22, 0.8);
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    border-radius: 2px;
}

.profile-picture {
    width: 40px;
    border-radius: 50px;
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-author, 
.video-stats {
    font-size: 12px;
    color: #AAAAAA;
}

.video-author {
    margin-bottom: 4px;
}

.shorts-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc((650px * 3) + (8px * 2));
    margin: 10px auto;
}

.shorts-header-left {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.shorts-header-left p {
    padding-left: 10px;
}

.shorts-icon,
.shorts-options {
    height: 20px;
}

.shorts-options {
    cursor: pointer;
    margin-right: 5px;
}

.shorts-grid {
    display: grid;
    align-content: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: calc((650px * 3) + (8px * 2));
    margin: 0 auto;
    column-gap: 8px;
    row-gap: 22px;
    padding: 10px 10px;
}

.shorts-preview {
    padding: 4px;
    vertical-align: top;
    max-width: 400px;
    min-width: 170px;
    display: flex;
    flex-direction: column;
}

.shorts-row {
    margin-bottom: 8px;
    position: relative;
}

.shorts-thumbnail {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    max-height: 570px;
    object-fit: cover;
    display: block;
}

.shorts-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    display: block;
}

.shorts-info-grid {
    display: grid;
}

 .shorts-stats {
    font-size: 12px;
    color: #AAAAAA;
}